<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/__STATIC__/h5/css/style.css">
    <title>帮助与反馈</title>
</head>
<body>
<div class="body-container-a">
    <!--顶部start-->
    <!--<div class="tea-header">
        <div class="header-left top-a">
        <a href="{:Url('H5/Users/helpentrance')}" style="color:none;text-decoration:none">
            <img src="/public/__STATIC__/h5/images/left-icon.png" alt="">
            </a>
        </div>
        <label>帮助与反馈</label>
        <label class="header-right">提交</label>
    </div>-->
    <!--顶部end-->
    <!--内容start-->
    <div class="info-center">
        <img src="/public/__STATIC__/h5/images/qhclogo.png" alt="">
    </div>
    <div class="footer-info">
        <p>v.1.0.0 </p>
        <p>
       <span>
	   
           Copyright 2018 杭州陶最科技有限公司
       </span>
        </p>
        <p>
            All rights reserved
        </p>
    </div>

    <!--内容end-->
</div>
</body>
</html>