<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/__STATIC__/h5/css/style.css">
    <title>帮助与反馈</title>
    <style>
        .from-top-a{
            margin-top: 10px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body-container">
    <div class="form-info from-top-a">
    <a href="{:Url('H5/Users/help')}"  style="color:#111;text-decoration:none">
        <p class="help-p">
            <span>帮助</span>
            <span class="help-right">
            	
                <img src="/public/__STATIC__/h5/images/right-icon.png" alt="" class="right-icon-img">
               
            </span>
        </p>
         </a>
         <a href="{:Url('H5/Users/feedback')}"  style="color:#111;text-decoration:none">
        <p class="help-p">
            <span>反馈</span>
            <span class="help-right">
            	
                <img src="/public/__STATIC__/h5/images/right-icon.png" alt="" class="right-icon-img">
                </a>
            </span>
        </p>
        </a>
        <a href="{:Url('H5/Users/about')}"  style="color:#111;text-decoration:none">
        <p class="help-p">
            <span>关于</span>
            <span class="help-right">
            	
                <img src="/public/__STATIC__/h5/images/right-icon.png" alt="" class="right-icon-img">
               
            </span>
        </p>
         </a>
    </div>

    <!--内容end-->
</div>
</body>
</html>