<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/__STATIC__/h5/css/style.css">
    <title>帮助与反馈</title>
</head>
<body>
<div class="body-container">
    
    <div>
        <p class="reg-login-p">注册与登录</p>
        <div class="reg-login">
            1、 如何注册？<br/>
            点击我的-> 登录/注册-> 注册"进入注册界面，输入
            验证后即可注册。<br/>

            2、 如何登录？<br/>
            点击我的-> 登录进入登录界面，输入验证后即可
            登录。<br/>
            3、 如何找回密码？<br/>
            若您忘记账户的登录密码，可通过11我的->登录/注
            册->忘记密码<br/>
        </div>
        <p class="reg-login-p">注册与登录</p>
        <div class="reg-login">
            1、 一切移动客户端用户在下载并浏览约暍茶APP软
            件时均被视为已经仔细阅读本条款并完全同意。凡
            以任何方式登陆本APP，或直接、间接使用本APP
            资料者，均被视为自愿接受约暍茶APP相关声明和
            用户服务协议的约束。<br/>
            2、 约暍茶APP转载的内容并不代表约暍茶手机APP
            之意见及观点，也不意味着约暍茶APP赞同其观点
            或证实其内容的真实性。<br/>
            3、 约暍茶APP转载的文字、图片、音视频等资料均
            由约暍茶APP用户提供，其真实性、准确性和合法<br/>
        </div>
    </div>

    <!--内容end-->
</div>
</body>
</html>