<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>预约详情</title>
    <link rel="stylesheet" href="/public/__STATIC__/h5/static/plugins/dist/css/weui.css">
    <link rel="stylesheet" href="/public/__STATIC__/h5/static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/public/__STATIC__/h5/static/css/style.css">
</head>
<body>
<div class="container weui-bg-fff" >
    <!--顶部start-->
    <!-- 
    <div class="page__bd page__bd_spacing">
        <div class="weui-flex">
            <div><span class="layui-icon" style="font-size: 20px">&#xe603;</span></div>
            <div class="weui-flex__item weui-title">预约详情</div>
            <a href="#"><div class="weui-title-right">管理</div></a>
        </div>
    </div>
     -->
    <!--顶部end-->
    <!--内容 start-->
     <div class="weui-flex  weui-yuy-contents weui-bg-fff ">
         <div class="weui-gps-icon"><span class="layui-icon" style="font-size: 20px">&#xe715;</span></div>
         <div class="weui-flex__item">
             <div class="weui-form-preview__bd ">
                 <div class="weui-form-preview__item">
                     <label class="weui-form-preview__label weui-fcolor">预约人：</label>
                     <label class="weui-form-preview__label weui-fcolor">{$order.userinfo.realname}</label>
                     <span class="weui-form-preview__value weui-fcolor">{$order.userinfo.mobile}</span>
                 </div>
                 <div class="weui-form-preview__item ">
                     <label class="weui-form-preview__label weui-fcolor">{$order.user_address}</label>
                 </div>
             </div>
         </div>
     </div>
    <div class="weui-yuy-top"></div>
    <div class="weui-flex   weui-bg-fff">
        <div class="weui-flex__item">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label weui-fcolor">服务费：</label>
                    <label class="weui-form-preview__label weui-fcolor">￥{$order.cost}/小时</label>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label weui-fcolor">服务开始时间：</label>
                    <label class="weui-form-preview__label weui-fcolor">{$order.serviceDate[0]}</label>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label weui-fcolor">服务结束时间：</label>
                    <label class="weui-form-preview__label weui-fcolor">{$order.serviceDate[1]}</label>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label weui-fcolor">服务距离：</label>
                    <label class="weui-form-preview__label weui-fcolor">{$order.service_distance/1000}km</label>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-yuy-top"></div>
    <div class="weui-flex  weui-bg-fff">
        <div class="weui-flex__item ">
            <div class="weui-form-preview__hd weui-fy-height">
                <div class="weui-form-preview__item weui-xhx">
                    <label class="weui-form-preview__label weui-fcolor">服务费用</label>
                    <label  class="weui-form-preview__value weui-server-price">¥{$order.service_pay}</label>
                </div>
            </div>
            <div class="weui-cell weui-cell_access weui-top-border">
                <div class="weui-cell__bd weui-fcolor">前往服务地点</div>
                <div class="weui-cell__ft" style="font-size: 0">
                    <span style="vertical-align:middle; font-size: 14px;" class="weui-fcolor">{$order.user_address}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-yuy-top"></div>
    <div class="weui-flex  weui-bg-fff weui-fcolor">
         <div class="weui-flex__item">
             <div class="weui-form-preview__bd">
                 <div class="weui-form-preview__item">
                     <label class="weui-form-preview__label">订单编号：</label>
                     <span class="weui-form-preview__label">{$order.order_sn}</span>
                 </div>
                 <div class="weui-form-preview__item">
                     <label class="weui-form-preview__label">创建时间：</label>
                     <span class="weui-form-preview__label">{$order.add_time}</span>
                 </div>
                 <notempty name="order.pay_time">
                 <div class="weui-form-preview__item">
                     <label class="weui-form-preview__label">付款时间：</label>
                     
                     <span class="weui-form-preview__label">{:date('Y-m-d H:i',$order.pay_time)}</span>
                     <else />
                     
                     
                 </div>
                 </notempty>
             </div>
         </div>
    </div>
    <div class="weui-yuy-top"></div>
    <!--内容  end-->
    <!--底部 start-->
    <div class="weui-flex weui-footer-ys">
        <div class="weui-flex__item" style="text-align: center;">
        	<if condition="$order.receiveBtn eq 1">
            	<a href="#" class="layui-btn  layui-ys layui-jd-ys" onclick="dealorder('{$ordern.order_id}')">接单</a>
            </if>
            <if condition="$order.status eq '已完成'">
            	<a href="#"  class="layui-btn  layui-ys layui-jd-zs">已完成</a>
            </if>
            <if condition="$order.refuseBtn eq 1">
            	<a href="{:Url('refuse',['order_id'=>$ordern.order_id])}" class="layui-btn layui-t" >拒绝</a>
            </if>
            <if condition="$order.agreeBtn eq 1">
            	<a href="#" class="layui-btn  layui-t" onclick="agree('{$ordern.order_id}')">同意</a>
            </if>
        </div>
    </div>
    <!--底部end-->
</div>
<script src="/public/__STATIC__/h5/static/js/jquery.min.js"></script>
<script src="/public/__STATIC__/h5/static/plugins/layui/layui.js"></script>
<script type="text/javascript">
        
        function setupWebViewJavascriptBridge(callback) {  
            if (window.WebViewJavascriptBridge) {  
                callback(WebViewJavascriptBridge)  
            } else {  
                document.addEventListener('WebViewJavascriptBridgeReady' , function() {  
                    callback(WebViewJavascriptBridge)  
                }, false );  
            }  

            // =====以下是iOS必须的特殊处理========  
            if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }  
            window.WVJBCallbacks = [callback];  
            var WVJBIframe = document.createElement('iframe');  
            WVJBIframe.style.display = 'none';  
            WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';  
            document.documentElement.appendChild(WVJBIframe);  
            setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0);  
            // =====以上是iOS必须的特殊处理========  
        }

          // 固定写法2 函数名字与1保持一致  
            setupWebViewJavascriptBridge(function(bridge) {  
                // Java 注册回调函数，第一次连接时调用 初始化函数  
                 bridge.init();  
            });
 
       //接单
       function dealorder(order_id){
    	   var u = navigator.userAgent, app = navigator.appVersion;
           var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
           var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                    WebViewJavascriptBridge.callHandler('dealorder',  
                    		order_id,
                         function (response) {  
                           // 移动端回传的数据  
                           //alert('移动端回传的数据:' + response);  
          });
       }
     	//同意
       function agree(order_id){
    	   var u = navigator.userAgent, app = navigator.appVersion;
           var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
           var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                    WebViewJavascriptBridge.callHandler('agree',  
                    		order_id,
                         function (response) {  
                           // 移动端回传的数据  
                           //alert('移动端回传的数据:' + response);  
          });
       }
     	
     //拒绝
       function refuse(order_id){
    	   var u = navigator.userAgent, app = navigator.appVersion;
           var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
           var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                    WebViewJavascriptBridge.callHandler('refuse',  
                    		order_id,
                         function (response) {  
                           // 移动端回传的数据  
                           //alert('移动端回传的数据:' + response);  
          });
       }
</script>
</body>
</html>